.footer-block{
    display: flex;
    align-items: center;
    background-color: rgb(37, 36, 36);
    /* color: rgb(30,144,255); */
  }
  .footer-block-title{
    margin-left: 3%;
    color: aliceblue;
  
  }
  .footer-block-title .omks{
    font-family: 'Amatic SC', cursive;
  }
  .footer-block-link{
    margin-left: 29%;
    display: flex;
    flex-direction: row;
  }
  .footer-links{
    margin-left: 4em;
    list-style-type: none;
    color: aliceblue;
    font-weight: 700;
  }